[Unit]
Description=AutoSSL agent to do TLS certificate related functions
After=multi-user.target
[Service]
User=root
Type=simple
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/opt/autossl
ExecStart=/opt/autossl/.venv/bin/python /opt/autossl/watcher.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
Restart=on-failure
RestartSec=60s
StandardOutput=append:/opt/autossl/agent.log
StandardError=append:/opt/autossl/agent.log
[Install]
WantedBy=multi-user.target